[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ActivePathways"]
	path = ActivePathways
	url = https://github.com/reimandlab/activepathways
